@import "../variables.scss";
.home_header {
    background-color: $dark_blue;
    color: $white;
    height: 200px;
    padding: 0px 40px 40px 40px;
    display: flex;
    flex-direction: column-reverse;
    border-radius: 0 0 10px 10px;
    span {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0 0 12px 0;
        svg {
            width: auto;
            height: 30px;
            margin: 0 8px;
        }
    }
    p {
        color: $light_blue_02;
    }
}

.home_content {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 20px 40px 80px 40px;
    .search_bar {
        display: flex;
        flex-direction: row;
        margin: 16px 0 24px 0;
        align-items: center;
        .css-b62m3t-container{
            width: 300px;
        }

        p {
            color: $gray_03;
            margin: 0 18px;
        }
        .iata_input {
            border: 1px solid $light_blue_01;
            border-radius: 4px;
            padding: auto 18px;
            font-size: 16px;
            height: 38px;
            text-align: center;
            width: 100px;

        }
    }
}
ul {
    width: 80%;
    border-radius: 6px;
    overflow: hidden;
    border: 1px solid $light_blue_01;
    .listHeader {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 14px 28px;
        background-color: $light_blue_01;
        p {
            min-width: 50px;
            width: 100px;
            text-align: center;

            &:nth-child(1) {
                text-align: left;
            }
            &:nth-child(4),
            &:nth-child(5) {
                width: 60px;
            }
            &:nth-child(6) {
                width: 300px;
            }
            &:nth-child(7) {
                width: 250px;
                text-align: right;
            }
        }
    }
    .departureItem {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 14px 28px;
        border-bottom: 1px solid $light_blue_01;
        background-color: $white;
        &:hover {
            cursor: default;
            background-color: $light_blue_03;
        }
        p {
            min-width: 50px;
            width: 100px;
            text-align: center;
            color: $gray_03;
            font-size: 14px;
            &:nth-child(1) {
                text-align: left;
            }
            &:nth-child(2) {
                color: $bright_blue;
            }
            &:nth-child(4),
            &:nth-child(5) {
                width: 60px;
            }
            &:nth-child(6) {
                width: 300px;
                font-weight: 700;
                color: $black;
            }
            &:nth-child(7) {
                width: 250px;
                text-align: right;
            }
        }
        &:last-child{
            border-bottom: 0 solid ;

        }
    }
}
